<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>

<body>
    <div class="helpinfo">Usage:</div>
    <div class="helpentry">
        <a href="/ip">/ip</a> - shows ip address
    </div>
    <div class="helpentry">
        <a href="/hh">/hh</a> - lists http headers in JSON
    </div>
    <div class="helpentry">
        <a href="/hh?pretty">/hh?pretty</a> - lists http headers in more readable form
    </div>
    <div class="helpentry">
        <a href="/ua">/ua</a> - shows useragent
    </div>
    <div class="helpentry">
        <a href="/uagents">/uagents</a> - lists collected useragents
    </div>
    <div class="helpentry">
        <a href="/uagents?pretty">/uagents?pretty</a> - lists collected useragents in more readable format
    </div>

</body>

</html>